{% extends "_base.html" %}
 +
 +{% block styles %}
 +    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 +    rel="stylesheet">
 +    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 +    <link rel="stylesheet" href="static/vendor/normalize.css">
 +    <link rel="stylesheet" href="static/vendor/slick.css">
 +    <link rel="stylesheet" href="../node_modules/govlab-styleguide/dist/css/govlab-styleguide.css">
 +{% endblock %}
 +
  {% block content %}
  <section class="b-events-landing">
    <header class="b-top-section m-purple">
      <div class="row">
        <div class="column small-12">
          <h2>Page Top Section</h2>
          <h3>This is the top section of a page. Generally speaking, each page should start with this section.</h3>
        </div>
      </div>
    </header>



  </section>
